## Linear Regression with python

                                    -Raghvendra pratap singh
                                    Computer science business system
                                    3rd year
                                    RA1911042020041

### Import the libraries

In [1]:
import warnings
warnings.simplefilter('ignore')

### Import numpy and pandas

In [2]:
import numpy as np
import pandas as pd

### Import data visualization libraries

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

### Import the dataset

In [4]:
DS = pd.read_csv(r"C:\data sets\house_price.csv", encoding="ANSI")
DS

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,price
0,02-05-2014 00:00,3,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,3.130000e+05
1,02-05-2014 00:00,5,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,2.384000e+06
2,02-05-2014 00:00,3,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,3.420000e+05
3,02-05-2014 00:00,3,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,4.200000e+05
4,02-05-2014 00:00,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,5.500000e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,09-07-2014 00:00,3,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA,3.081667e+05
4596,09-07-2014 00:00,3,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA,5.343333e+05
4597,09-07-2014 00:00,3,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA,4.169042e+05
4598,10-07-2014 00:00,4,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA,2.034000e+05
4599,10-07-2014 00:00,3,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA,2.206000e+05

In [5]:
DS.head()

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,price
0,02-05-2014 00:00,3,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,313000.0
1,02-05-2014 00:00,5,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,2384000.0
2,02-05-2014 00:00,3,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,342000.0
3,02-05-2014 00:00,3,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,420000.0
4,02-05-2014 00:00,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,550000.0

In [6]:
DS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   bedrooms       4600 non-null   int64
 2   bathrooms      4600 non-null   float64
 3   sqft_living    4600 non-null   int64
 4   sqft_lot       4600 non-null   int64
 5   floors         4600 non-null   float64
 6   waterfront     4600 non-null   int64
 7   view           4600 non-null   int64
 8   condition      4600 non-null   int64
 9   sqft_above     4600 non-null   int64
 10  sqft_basement  4600 non-null   int64
 11  yr_built       4600 non-null   int64
 12  yr_renovated   4600 non-null   int64
 13  street         4600 non-null   object
 14  city           4600 non-null   object
 15  statezip       4600 non-null   object
 16  country        4600 non-null   object
 17  price          4600 non-null   float64
dtypes: float64(3), int64(10), object(5)
memory usage: 647.0+ KB

In [7]:
DS.columns

Index(['date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'sqft_above', 'sqft_basement',
       'yr_built', 'yr_renovated', 'street', 'city', 'statezip', 'country',
       'price'],
      dtype='object')

In [8]:
DS= DS.drop(['date','street','statezip','country'],axis=1)
DS

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city,price
0,3,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,Shoreline,3.130000e+05
1,5,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,Seattle,2.384000e+06
2,3,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,Kent,3.420000e+05
3,3,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,Bellevue,4.200000e+05
4,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,Redmond,5.500000e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,Seattle,3.081667e+05
4596,3,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,Bellevue,5.343333e+05
4597,3,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,Renton,4.169042e+05
4598,4,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,Seattle,2.034000e+05
4599,3,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,Covington,2.206000e+05

In [9]:
plt.rcParams['figure.figsize']=12,10
plt.show

### 4) Handling the Categorical data

In [10]:
cat_cols=['city']
from sklearn.preprocessing import LabelEncoder
for each_col in cat_cols:
    Le=LabelEncoder()
    DS[each_col]=Le.fit_transform(DS[each_col])

In [11]:
DS

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city,price
0,3,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,36,3.130000e+05
1,5,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,35,2.384000e+06
2,3,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,18,3.420000e+05
3,3,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,3,4.200000e+05
4,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,31,5.500000e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,35,3.081667e+05
4596,3,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,3,5.343333e+05
4597,3,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,32,4.169042e+05
4598,4,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,35,2.034000e+05
4599,3,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,9,2.206000e+05

### Spliting the dataset into training and testing

In [12]:
DS.columns

Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'sqft_above', 'sqft_basement',
       'yr_built', 'yr_renovated', 'city', 'price'],
      dtype='object')

In [13]:
x=DS[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors','waterfront', 'view', 'condition', 'sqft_above', 'sqft_basement',
       'yr_built', 'yr_renovated', 'city']].values
y=DS[['price']].values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size =0.8)

In [14]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((3680, 13), (920, 13), (3680, 1), (920, 1))

### Import and perform Linear Regression

In [15]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [16]:
lr.fit(x_train,y_train)

LinearRegression()

### Predicting  the values

In [17]:
y_pred= lr.predict(x_test)
y_pred.round(2)

array([[  79480.23],
       [ 540375.77],
       [ 872035.43],
       [ 365023.91],
       [ 373667.38],
       [ 783011.12],
       [ 381655.87],
       [ 938781.51],
       [1025698.74],
       [ 131120.  ],
       [ 312049.47],
       [1070189.52],
       [ 443101.27],
       [ 972755.3 ],
       [ 264429.8 ],
       [ 331192.17],
       [ 143087.73],
       [ 366062.05],
       [ 511911.02],
       [ 479958.73],
       [ 297792.58],
       [ 537364.98],
       [ 496012.58],
       [ 484251.26],
       [ 621833.23],
       [ 361000.26],
       [ 416326.26],
       [ 936793.87],
       [ 602185.49],
       [ 180453.45],
       [ 745892.43],
       [ 369877.59],
       [ 662359.73],
       [1458115.06],
       [ 326619.44],
       [1102136.06],
       [ 485733.31],
       [ 256765.52],
       [ 376040.67],
       [ 214061.44],
       [ 639874.36],
       [ 423557.85],
       [ 931739.96],
       [1270846.58],
       [ 293536.19],
       [ 273224.62],
       [ 442786.22],
       [ 311274.82],
       [1024657.54],
       [ 294792.38],
       [ 459944.47],
       [ 350825.92],
       [ 384440.89],
       [ 426062.18],
       [ 466241.21],
       [ 548508.97],
       [ 646311.51],
       [1275984.38],
       [ 690745.27],
       [ 332983.44],
       [ 542944.44],
       [ 352718.58],
       [ 635431.79],
       [ 485330.34],
       [ 192129.21],
       [ 503204.79],
       [ 541851.34],
       [ 507314.68],
       [ 983277.91],
       [ 530348.59],
       [ 474329.52],
       [ 392514.92],
       [ 381912.16],
       [ 553003.9 ],
       [ 640792.88],
       [ 715310.17],
       [ 595516.29],
       [ 261237.55],
       [ 447523.52],
       [ 446577.05],
       [ 796070.52],
       [ 715078.67],
       [ 761717.17],
       [ 676240.58],
       [ 527780.4 ],
       [1011829.57],
       [ 347153.93],
       [ 236125.59],
       [ 376681.64],
       [ 395994.37],
       [ 188259.7 ],
       [ 451814.94],
       [ 391996.56],
       [1005528.62],
       [1380347.16],
       [ 405666.89],
       [ 399188.86],
       [ 271616.33],
       [ 617852.37],
       [ 579343.7 ],
       [ 825605.27],
       [ 617998.33],
       [ 839144.98],
       [ 706067.7 ],
       [ 548047.23],
       [ 526512.89],
       [ 635391.26],
       [ 324832.12],
       [1224254.71],
       [ 665343.62],
       [ 465366.71],
       [ 444327.45],
       [ 285560.84],
       [ 461691.12],
       [ 747042.11],
       [ 588809.91],
       [ 380753.75],
       [ 648038.59],
       [ 797381.94],
       [ 470759.59],
       [ 400382.31],
       [ 828912.09],
       [ 333586.06],
       [ 507838.03],
       [ 733263.61],
       [ 384402.31],
       [ 631724.61],
       [ 383363.22],
       [1020127.25],
       [ 487456.44],
       [ 220873.96],
       [ 606248.77],
       [ 263421.99],
       [ 619061.25],
       [ 550101.48],
       [ 332574.32],
       [1143839.5 ],
       [ 913226.26],
       [ 280110.03],
       [ 260499.36],
       [ 827190.14],
       [ 518700.06],
       [ 413811.28],
       [ 726581.03],
       [ 230134.79],
       [ 287062.95],
       [ 438584.21],
       [ 596015.88],
       [ 275047.06],
       [ 301185.14],
       [ 736630.86],
       [ 503170.07],
       [ 611181.11],
       [ 398079.48],
       [ 373859.07],
       [ 446843.25],
       [ 292142.48],
       [ 180840.75],
       [ 477105.5 ],
       [ 376625.71],
       [ 239518.48],
       [ 483852.92],
       [ 393922.59],
       [ 452385.17],
       [ 399105.89],
       [ 626670.98],
       [ 290749.17],
       [ 545783.67],
       [ 639148.01],
       [ 514712.15],
       [ 488985.36],
       [ 386693.3 ],
       [1018030.5 ],
       [ 241648.52],
       [ 632806.2 ],
       [1473094.96],
       [ 127755.59],
       [ 324180.76],
       [ 591943.61],
       [ 201196.75],
       [ 277573.55],
       [1016865.2 ],
       [ 453933.36],
       [ 469086.01],
       [ 479419.74],
       [ 899158.88],
       [ 806895.41],
       [ 850229.03],
       [ 690495.89],
       [ 574458.25],
       [ 259193.76],
       [ 433768.29],
       [1088329.75],
       [ 442010.16],
       [ 482510.29],
       [1043226.16],
       [ 795129.82],
       [ 533812.71],
       [ 547175.12],
       [ 837222.97],
       [ 562079.74],
       [ 978760.23],
       [ 378048.01],
       [ 649821.11],
       [ 505779.39],
       [1218238.47],
       [ 513583.26],
       [ 283222.6 ],
       [ 395075.6 ],
       [ 700976.46],
       [ 378381.24],
       [ 262095.67],
       [1066570.49],
       [ 282208.91],
       [ 459111.87],
       [ 404098.76],
       [ 406021.67],
       [ 380169.67],
       [ 460549.62],
       [ 538181.44],
       [ 515042.05],
       [ 224072.61],
       [ 276081.71],
       [ 103856.94],
       [ 424688.09],
       [ 705769.02],
       [ 279625.17],
       [ 634444.23],
       [1097234.98],
       [ 682496.79],
       [ 400120.57],
       [1466216.5 ],
       [ 274231.  ],
       [ 412561.55],
       [ 479261.19],
       [ 402834.98],
       [1105869.83],
       [1836463.89],
       [ 582154.93],
       [ 228049.57],
       [ 281977.93],
       [ 695096.48],
       [ 258454.64],
       [ 370553.95],
       [ 397586.78],
       [ 150564.6 ],
       [ 990435.82],
       [ 357317.83],
       [ 764053.3 ],
       [ 553533.06],
       [ 378411.46],
       [ 587901.28],
       [ 811091.34],
       [ 399761.56],
       [ 469167.7 ],
       [ 968212.76],
       [ 313329.25],
       [ 559948.01],
       [ 411777.35],
       [ 821291.17],
       [ 226969.17],
       [ 324271.57],
       [ 437226.46],
       [ 446545.52],
       [ 430705.36],
       [ 468296.32],
       [ 985734.91],
       [ 370041.53],
       [ 523173.13],
       [ 880011.64],
       [ 529030.53],
       [ 692222.66],
       [ 500215.05],
       [ 379578.34],
       [ 439906.29],
       [ 460889.2 ],
       [ 301394.83],
       [ 613266.03],
       [ 260014.65],
       [ 293920.46],
       [ 410763.84],
       [ 450920.76],
       [ 613736.38],
       [ 462298.54],
       [ 649447.7 ],
       [ 624572.15],
       [ 383553.52],
       [ 513020.69],
       [ 384781.08],
       [ 437139.11],
       [ 624286.89],
       [ 414562.88],
       [ 529532.1 ],
       [ 293083.07],
       [ 339039.62],
       [ 302174.44],
       [1206774.47],
       [ 366297.01],
       [ 337001.71],
       [ 396023.33],
       [ 380611.94],
       [ 686200.77],
       [ 555335.18],
       [ 466370.01],
       [1095920.34],
       [ 693419.8 ],
       [ 535705.04],
       [ 389474.71],
       [ 661899.65],
       [ 452034.4 ],
       [ 702052.98],
       [ 534387.63],
       [ 142687.09],
       [ 541795.05],
       [ 550849.45],
       [ 394829.45],
       [ 874917.04],
       [ 231941.41],
       [ 604585.54],
       [ 710793.36],
       [ 363883.9 ],
       [ 572956.27],
       [ 559415.26],
       [1579960.08],
       [ 574931.53],
       [ 544828.6 ],
       [1580588.01],
       [ 333676.3 ],
       [ 482254.64],
       [ 320227.44],
       [ 410388.13],
       [ 319810.08],
       [ 866518.56],
       [ 397695.84],
       [ 310051.32],
       [ 530654.23],
       [ 181950.08],
       [ 633068.32],
       [ 978844.59],
       [ 848719.6 ],
       [ 331458.8 ],
       [ 369914.66],
       [1021045.34],
       [1160338.62],
       [ 442438.94],
       [ 267328.13],
       [ 466580.19],
       [ 559028.36],
       [ 386005.32],
       [ 734608.9 ],
       [ 501034.87],
       [ 608427.09],
       [ 585390.56],
       [ 351776.11],
       [ 365301.55],
       [ 413337.06],
       [ 248174.47],
       [ 540280.37],
       [ 601740.71],
       [ 547214.17],
       [ 198317.38],
       [ 410723.83],
       [1034414.65],
       [ 218537.47],
       [ 320402.31],
       [ 928922.63],
       [ 389155.59],
       [ 706358.48],
       [ 324546.45],
       [ 665195.98],
       [ 243039.27],
       [ 222161.63],
       [ 630032.35],
       [ 201066.  ],
       [ 482253.48],
       [ 378982.13],
       [ 263550.58],
       [ 512693.75],
       [ 695994.78],
       [ 842727.93],
       [ 395864.32],
       [ 599915.03],
       [ 549538.14],
       [1201139.51],
       [ 603994.79],
       [ 259938.05],
       [ 668053.7 ],
       [ 479581.04],
       [ 892289.76],
       [ 879960.34],
       [ 600294.39],
       [ 344444.76],
       [ 548048.7 ],
       [1005476.01],
       [ 758843.3 ],
       [ 176254.88],
       [ 408064.96],
       [ 597534.8 ],
       [ 592766.27],
       [ 468214.46],
       [ 141515.65],
       [ 637084.61],
       [ 399742.  ],
       [ 750217.53],
       [ 788045.46],
       [ 491500.7 ],
       [ 822160.88],
       [ 479204.81],
       [ 329523.  ],
       [ 655816.93],
       [1245553.86],
       [1805505.04],
       [ 928532.73],
       [ 416433.67],
       [ 278361.94],
       [ 215458.51],
       [ 908655.98],
       [ 535057.87],
       [ 561404.5 ],
       [ 784893.5 ],
       [ 567411.15],
       [ 280430.22],
       [ 431364.19],
       [ 498828.74],
       [ 908077.87],
       [ 815546.79],
       [ 376966.11],
       [ 832875.53],
       [ 392996.21],
       [ 418074.78],
       [ 750232.12],
       [ 341708.55],
       [ 332949.66],
       [ 411010.15],
       [ 368356.16],
       [ 649486.82],
       [ 321032.59],
       [ 782338.26],
       [ 332496.85],
       [ 395805.07],
       [ 552683.41],
       [ 494154.45],
       [ 604508.03],
       [ 943824.7 ],
       [ 166964.03],
       [1118334.94],
       [ 425047.39],
       [ 456654.04],
       [ 280804.1 ],
       [ 680576.57],
       [ 455292.42],
       [ 235196.12],
       [ 467409.22],
       [ 720592.84],
       [ 422749.03],
       [ 199945.57],
       [ 216939.16],
       [ 594064.71],
       [ 824260.92],
       [ 403846.61],
       [ 575219.05],
       [ 186144.83],
       [1228507.54],
       [1111868.21],
       [ 453633.63],
       [ 746110.38],
       [ 233736.42],
       [ 362186.1 ],
       [ 483080.48],
       [ 713785.48],
       [ 314739.03],
       [ 144903.73],
       [ 517467.19],
       [ 321511.12],
       [ 504175.01],
       [1312835.56],
       [ 640303.43],
       [ 484914.72],
       [ 469929.19],
       [ 559170.81],
       [ 326742.29],
       [ 743095.38],
       [ 341727.91],
       [ 394796.58],
       [ 243512.18],
       [ 624893.39],
       [ 266363.06],
       [ 948148.74],
       [ 296164.58],
       [ 259494.62],
       [ 474339.27],
       [ 667447.91],
       [1484206.3 ],
       [ 383456.73],
       [ 704882.11],
       [ 756654.4 ],
       [ 290467.58],
       [ 964877.46],
       [ 381923.6 ],
       [ 268995.47],
       [ 356431.49],
       [ 348472.45],
       [ 726480.25],
       [ 519494.55],
       [ 507015.68],
       [ 574502.41],
       [ 615118.5 ],
       [ 638637.25],
       [ 476851.98],
       [ 237767.69],
       [ 401667.43],
       [ 307922.58],
       [ 694036.61],
       [ 338198.98],
       [ 354414.69],
       [ 334748.99],
       [ 371423.85],
       [ 380380.34],
       [ 556900.38],
       [ 533961.05],
       [1289835.92],
       [ 495441.82],
       [ 558035.92],
       [ 176604.83],
       [ 779917.58],
       [ 430674.5 ],
       [ 551681.45],
       [ 596206.79],
       [ 537858.5 ],
       [ 424656.44],
       [ 758629.33],
       [ 326098.46],
       [ 606311.8 ],
       [ 667372.27],
       [ 643293.74],
       [ 679807.37],
       [ 261365.95],
       [ 424014.88],
       [ 917112.79],
       [ 363974.34],
       [ 537167.18],
       [ 739710.79],
       [ 304005.4 ],
       [ 594679.23],
       [ 554493.3 ],
       [ 472646.97],
       [ 839604.41],
       [ 316926.68],
       [ 483696.41],
       [ 378128.99],
       [ 592427.77],
       [ 498901.02],
       [ 387247.88],
       [ 414979.59],
       [ 241613.83],
       [ 697355.27],
       [ 900968.62],
       [ 777996.67],
       [ 955221.64],
       [ 386005.42],
       [ 546824.46],
       [ 728706.57],
       [ 902528.62],
       [ 791167.68],
       [ 344829.36],
       [ 478301.48],
       [ 500219.43],
       [ 287557.39],
       [ 542222.44],
       [ 435741.08],
       [1093066.53],
       [ 528352.79],
       [ 481020.35],
       [ 609393.89],
       [ 847125.27],
       [ 430435.97],
       [ 441452.02],
       [ 348170.04],
       [ 447441.8 ],
       [ 551173.4 ],
       [ 371269.88],
       [ 482183.38],
       [ 172209.71],
       [ 608439.24],
       [ 423794.59],
       [ 726838.54],
       [ 777852.46],
       [ 443653.84],
       [ 338942.35],
       [ 758412.29],
       [ 784077.95],
       [ 212392.77],
       [ 840672.66],
       [ 815178.82],
       [ 318519.21],
       [ 407459.19],
       [ 301145.62],
       [ 500435.33],
       [ 432316.47],
       [ 566498.51],
       [ 419763.48],
       [ 236012.15],
       [ 359267.43],
       [ 444698.41],
       [ 306990.4 ],
       [ 259919.86],
       [ 509813.38],
       [ 788429.04],
       [ 564787.35],
       [ 198349.16],
       [ 765941.98],
       [ 534518.8 ],
       [ 346815.93],
       [ 473812.15],
       [ 970983.78],
       [ 508171.05],
       [1011217.59],
       [ 302631.46],
       [ 253150.64],
       [ 363680.57],
       [ 509784.6 ],
       [ 617396.77],
       [ 622549.  ],
       [ 478165.76],
       [ 890213.75],
       [ 427865.45],
       [ 460905.84],
       [ 443872.75],
       [ 490795.46],
       [ 699554.71],
       [ 334737.01],
       [ 219210.69],
       [ 324580.76],
       [ 410978.42],
       [ 539191.5 ],
       [ 266776.44],
       [ 300918.51],
       [1247342.02],
       [ 544898.66],
       [ 659960.49],
       [ 296226.14],
       [ 313538.62],
       [ 357151.24],
       [ 775420.56],
       [ 705914.55],
       [ 933495.18],
       [ 692189.74],
       [ 413250.33],
       [ 521508.83],
       [ 759137.56],
       [ 345743.39],
       [ 473585.66],
       [ 359797.29],
       [ 646792.41],
       [ 515442.49],
       [ 515022.66],
       [ 598255.08],
       [ 835006.99],
       [ 519023.73],
       [ 862471.24],
       [ 554433.32],
       [ 603549.51],
       [ 194604.84],
       [ 558410.14],
       [ 399144.28],
       [ 345001.99],
       [ 674001.59],
       [ 569843.86],
       [ 926259.61],
       [ 844204.07],
       [ 205022.19],
       [ 702377.5 ],
       [ 576858.86],
       [ 468600.46],
       [ 326828.82],
       [ 383313.48],
       [ 815389.06],
       [ 648740.65],
       [ 720797.43],
       [ 526384.66],
       [ 572494.02],
       [ 492655.12],
       [ 619491.25],
       [ 351372.01],
       [1096598.59],
       [ 423258.21],
       [ 350462.07],
       [ 448575.41],
       [ 498378.11],
       [ 267463.11],
       [ 950056.08],
       [ 607209.64],
       [ 386433.05],
       [ 470877.25],
       [ 512061.22],
       [ 684143.87],
       [ 687389.24],
       [ 493604.71],
       [ 599378.14],
       [1081188.62],
       [ 265164.76],
       [ 298848.02],
       [ 438550.93],
       [ 447947.64],
       [ 285542.04],
       [ 220996.5 ],
       [ 348191.48],
       [ 395916.3 ],
       [ 427176.41],
       [ 290454.06],
       [ 361532.9 ],
       [ 549365.29],
       [ 642537.85],
       [ 338722.2 ],
       [ 541967.49],
       [ 803208.09],
       [ 151788.52],
       [ 585975.74],
       [ 504717.4 ],
       [ 171580.86],
       [ 622066.86],
       [ 439779.93],
       [ 515418.43],
       [ 447065.51],
       [ 865426.36],
       [ 389239.87],
       [ 552060.43],
       [ 303969.29],
       [ 428204.55],
       [ 889019.41],
       [ 351219.14],
       [ 289687.09],
       [ 408847.61],
       [ 337299.46],
       [ 616065.04],
       [ 635119.51],
       [ 460961.4 ],
       [ 369216.  ],
       [ 207293.64],
       [ 585291.55],
       [ 855204.13],
       [ 543995.2 ],
       [ 671263.96],
       [ 742494.54],
       [ 576590.01],
       [ 473257.63],
       [ 474091.94],
       [ 776315.45],
       [ 377857.67],
       [ 541221.11],
       [ 356082.05],
       [ 242899.89],
       [ 587548.59],
       [ 445990.02],
       [1209023.8 ],
       [ 399865.8 ],
       [ 503288.89],
       [ 502286.3 ],
       [ 501915.29],
       [ 527370.74],
       [1344787.12],
       [ 609598.71],
       [ 313058.19],
       [ 307106.03],
       [ 461295.12],
       [ 687022.26],
       [ 571129.52],
       [ 415645.96],
       [ 413079.88],
       [ 231538.82],
       [ 407159.1 ],
       [ 261269.26],
       [ 800639.06],
       [ 511601.98],
       [ 312078.72],
       [ 964404.71],
       [1323285.74],
       [ 395566.06],
       [ 224709.42],
       [ 607461.51],
       [1492843.8 ],
       [ 388466.29],
       [1110280.65],
       [ 361862.18],
       [ 590253.32],
       [ 309823.72],
       [ 427233.11],
       [ 621515.88],
       [ 304673.39],
       [ 523042.38],
       [ 473596.52],
       [1720832.23],
       [ 751837.49],
       [1010430.31],
       [ 250605.07],
       [ 489838.47],
       [ 816831.27],
       [ 581177.13],
       [ 411330.44],
       [ 605610.21],
       [ 593511.41],
       [ 794977.3 ],
       [1191123.51],
       [ 250554.31],
       [ 843072.81],
       [ 554802.52],
       [ 360098.75],
       [ 428414.56],
       [ 511290.01],
       [ 924651.71],
       [ 418818.32],
       [ 577915.13],
       [ 459236.06],
       [1230987.11],
       [ 453935.34],
       [ 506147.71],
       [ 430709.57],
       [ 506641.09],
       [ 379851.22],
       [ 976883.37],
       [ 256225.72],
       [ 302647.75],
       [ 506332.78],
       [ 984650.47],
       [ 529031.07],
       [ 947760.85],
       [ 351554.95],
       [ 371260.97],
       [ 249245.56],
       [ 315003.1 ],
       [ 434795.82],
       [ 289308.87],
       [ 594099.72],
       [ 529906.04],
       [1048009.21],
       [ 363695.95],
       [ 350053.66],
       [ 700466.49],
       [ 477622.02],
       [ 310672.57],
       [ 459305.44],
       [ 218643.77],
       [ 430334.86],
       [ 498655.06],
       [ 398982.88],
       [ 540333.57],
       [ 457461.61],
       [ 288828.55],
       [ 558643.06],
       [ 804598.01],
       [ 716515.67],
       [ 524889.3 ],
       [ 426797.9 ],
       [ 804239.02],
       [ 591528.71],
       [ 509229.48],
       [ 765261.61],
       [ 642682.72],
       [1002902.4 ],
       [ 940173.78],
       [ 304283.34],
       [ 601179.64],
       [ 377627.82],
       [ 401625.63],
       [ 149397.01],
       [ 266123.81],
       [ 539496.9 ],
       [ 519737.32],
       [ 288568.87],
       [ 938807.64],
       [ 327828.11],
       [ 199539.96],
       [ 607295.92],
       [ 359667.78],
       [ 444514.88],
       [ 876810.44],
       [ 481902.73],
       [ 333245.76],
       [ 505578.48],
       [ 359744.66],
       [ 613961.68],
       [ 829375.27],
       [1134871.32],
       [ 524002.66],
       [1131388.76],
       [ 666551.26],
       [ 582487.25],
       [ 223098.92],
       [ 481261.74],
       [ 289451.38],
       [ 451378.69],
       [ 321359.08],
       [ 675823.8 ],
       [ 460115.29],
       [ 329548.67],
       [ 467665.18],
       [ 353259.75],
       [ 892020.17],
       [ 305023.08],
       [ 597282.51],
       [ 423249.44],
       [ 288153.26],
       [ 502924.41],
       [ 252202.6 ],
       [ 222548.69],
       [ 884324.28],
       [ 569413.06],
       [ 354583.01],
       [ 311412.61],
       [1022058.86],
       [1016455.11],
       [ 461244.46],
       [ 386812.32],
       [ 277095.61],
       [ 680858.48],
       [ 540909.45],
       [ 490659.54],
       [ 559790.16],
       [ 355946.01],
       [ 198775.46]])

In [18]:
check = pd.DataFrame(x_test,columns=['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors','waterfront', 'view', 'condition', 'sqft_above', 'sqft_basement',
       'yr_built', 'yr_renovated', 'city'])

In [19]:
check['price_Actual']=y_test

In [20]:
check['price_Predicted']=y_pred.round(2)
check

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city,price_Actual,price_Predicted
0,3.0,1.00,1340.0,306848.0,1.0,0.0,0.0,3.0,1340.0,0.0,1953.0,0.0,11.0,117833.3333,79480.23
1,6.0,2.75,2660.0,8400.0,1.0,0.0,0.0,5.0,1550.0,1110.0,1962.0,0.0,3.0,603500.0000,540375.77
2,3.0,2.50,2670.0,47480.0,2.0,0.0,3.0,3.0,2670.0,0.0,1981.0,2013.0,42.0,605000.0000,872035.43
3,3.0,1.75,1570.0,16817.0,2.0,0.0,0.0,3.0,1570.0,0.0,1982.0,0.0,27.0,370000.0000,365023.91
4,4.0,1.75,1880.0,7632.0,1.0,0.0,0.0,4.0,1180.0,700.0,1978.0,2000.0,14.0,266500.0000,373667.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,3.0,3.50,2080.0,5100.0,2.0,0.0,0.0,3.0,2080.0,0.0,2004.0,2003.0,21.0,357500.0000,540909.45
916,2.0,2.00,1100.0,3000.0,1.5,0.0,0.0,3.0,1100.0,0.0,1912.0,2005.0,35.0,450000.0000,490659.54
917,2.0,2.00,1700.0,3171.0,1.0,0.0,0.0,5.0,850.0,850.0,1927.0,0.0,1.0,189000.0000,559790.16
918,3.0,2.50,1350.0,2053.0,3.0,0.0,0.0,3.0,1350.0,0.0,2005.0,0.0,35.0,477000.0000,355946.01
919,3.0,1.00,990.0,8062.0,1.0,0.0,0.0,4.0,990.0,0.0,1960.0,2001.0,10.0,250000.0000,198775.46

In [21]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
mean_squared_error(y_test,y_pred)

811456806275.1252

In [22]:
mean_absolute_error(y_test,y_pred)

181488.45802248633